# Virtual Environment
venv/
env/
ENV/

# Byte-compiled / Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment / Secret keys
.env
!.env.example

# Database & Local Data
data/*.db
data/*.sqlite3

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# OS artifacts
.DS_Store
Thumbs.db